@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer-section {
  background-color: $theme-color;

  .footer-wrapper {
    padding: 50px 0;
    // @include breakpoint(max-xxl) {
    //   padding: 0 0 70px;
    // }

    // &.widget-inner {
    //   @include breakpoint(max-xxxl) {
    //     padding: 90px 0;
    //   }

    //   @include breakpoint(max-xxl) {
    //     padding: 100px 0;
    //   }

    //   @include breakpoint(max-lg) {
    //     padding: 80px 0;
    //   }
    // }

    .footer-right-content {
      padding-left: 20px;
    }

    .footer-right-content {
      @include flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      justify-content: space-between;

      @include breakpoint(lg) {
        flex-direction: row;
      }
      .wid-title {
        margin-bottom: 2rem;

        h3 {
          color: $white;
          font-weight: 400;
          font-size: 20px;
        }
      }
    }

    .list-area {
      li {
        @include transition;
        font-weight: 300;
        font-size: 14px;

        &:not(:last-child) {
          margin-bottom: 16px;
        }

        a {
          color: $white;
        }

        &:hover {
          margin-left: 5px;
        }
      }
    }
  }
}
