@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.service-section {
  background-color: $bg-color;

  .section-title {
    align-items: flex-start;
  }
  .arrow-button {
    gap: 30px;
    @include flex;
    justify-content: flex-end;

    @include breakpoint(max-lg) {
      justify-content: start;
    }
  }

  .service-slider-3 {
    margin-right: -390px;
    .swiper-wrapper {
      align-items: stretch;
    }

    .swiper-slide {
      height: auto;
      @include flex;
    }

    @include breakpoint(max-xxxl) {
      margin-right: -150px;
    }

    @include breakpoint(max-xxl) {
      margin-right: 0;
    }
  }
}

.service-card-items-3 {
  @include flex;
  border-radius: 20px;
  background-color: $white;
  margin-top: 30px;
  border: 1px solid $border-color;

  @include breakpoint(max-xxl) {
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    justify-content: center;
  }

  .service-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex: 1;

    @include breakpoint(max-xxl) {
      padding: 0;
    }

    .icon {
      width: 70px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      background-color: $theme-color;
      text-align: center;
      border-radius: 10px;
      @include transition;
      margin-bottom: 24px;
      box-shadow: $shadow;

      @include breakpoint(max-xxl) {
        margin-bottom: 30px;
      }

      img {
        @include transition;
        display: inline-block;
      }
    }

    .content {
      h4 {
        margin-bottom: 10px;
        font-size: 22px;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
      }
    }
  }

  .service-image {
    margin-top: 3rem;
    height: 460px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 0px;
      top: 0;
      width: 100%;
      height: 0px;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      );
      visibility: hidden;
      opacity: 0;
      transform-style: preserve-3d;
      transform: perspective(370px) rotateY(90deg) translate(0px, 50px);
      border-radius: 0 20px 20px 0;
      transition: all 900ms ease;
      -moz-transition: all 900ms ease;
      -webkit-transition: all 900ms ease;
      -ms-transition: all 900ms ease;
      -o-transition: all 900ms ease;
      z-index: 1;
    }

    @include breakpoint(max-xxl) {
      height: initial;
    }

    .icon {
      position: absolute;
      top: 40px;
      background-color: $theme-color;
      left: -30px;
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border-radius: 100px;
      border: 2px solid $white;
      z-index: 999;
    }

    img {
      @include imgw;
      border-radius: 20px;
      object-fit: cover;

      @include breakpoint(max-xxl) {
        border-radius: 20px;
      }
    }
  }

  //   &:hover {
  //     .service-content {
  //       .icon {
  //         background-color: $theme-color;

  //         img {
  //           transform: scaleX(-1) !important;
  //           filter: brightness(0) saturate(100%) sepia(100%) hue-rotate(120deg)
  //             contrast(130%) brightness(80%);
  //         }
  //       }
  //     }

  //     .service-image {
  //       &::after {
  //         visibility: visible;
  //         opacity: 1;
  //         transform: perspective(370px) rotateY(0deg) translate(0px, 0px);
  //         height: 100%;
  //       }
  //     }
  //   }
}
