@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.solutions-section {
  margin-top: 60px;

  .section-title {
    @include breakpoint(lg) {
      h2 {
        width: 629px;
      }
    }
  }
}

.solutions-wrapper {
  margin-top: 150px;

  .solutions-image {
    position: relative;
    height: 100%;
    @include breakpoint(max-xxl) {
      max-width: initial;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
    }

    .who-its-for {
      width: 400px;
      position: absolute;
      bottom: 2rem;
      @include flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 1rem;
      gap: 26px;
      .for-pills {
        @include flex;
        gap: 10px;
        flex-wrap: wrap;
        .pill {
          background-color: $white;
          padding: 6px 16px;
          border-radius: 50px;
          font-size: 12px;
          white-space: nowrap;
        }
      }
      span {
        font-size: 22px;
        color: $white;
        font-weight: 400;
      }
    }

    .solutions-sub {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: $white;
      font-weight: 300;
      text-align: end;
      width: 355px;
      line-height: 1.2;
    }
  }
  .solutions-box {
    @include flex;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid $bg-color-2;
    background-color: $bg-color;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

    @include breakpoint(max-xxl) {
      flex-wrap: wrap;
    }

    &.active-box {
      background-color: $theme-color;

      .icon {
        box-shadow: $shadow;
      }

      .content {
        h5 {
          color: $white;
        }

        p {
          color: $white;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background: $theme-color;
      border-radius: 30px;
      z-index: 1;
      transition: width 0.5s ease;
    }

    .icon {
      width: 70px;
      height: 70px;
      line-height: 70px;
      text-align: center;
      background-color: #ededed;
      border-radius: 100px;
      @include transition;
      position: relative;
      z-index: 999;

      img {
        @include transition;
        display: inline-block;
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: $theme-color-2;
        content: "";
        border-radius: 50%;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
    }

    .content {
      h5 {
        margin-bottom: 5px;
      }

      p {
        max-width: 430px;
      }
    }

    &:hover {
      &::before {
        width: 100%;
      }

      .icon {
        img {
          // transform: scaleX(-1) !important;
          filter: brightness(0) saturate(100%) sepia(100%) hue-rotate(120deg)
            contrast(130%) brightness(80%);
        }

        &::after {
          transform: scale(1);
          z-index: -1;
        }
        box-shadow: 0px 8px 10.3px 1px rgba(0, 0, 0, 0.15);
      }

      .content {
        h5 {
          color: $white;
          position: relative;
          z-index: 999;
        }

        p {
          color: $white;
          position: relative;
          z-index: 999;
        }
      }
    }
  }
}
