@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/typography" as *;

.section-title {
  @include flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 99;
  margin-bottom: 30px;

  @include breakpoint(max-md) {
    margin-bottom: 0;
  }
  .sub-title {
    font-size: 16px;
    font-weight: 400;
    // color: $text-color-2;
    font-family: $heading-font;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 1;
    border: 1.9px solid $border-color;
    padding: 10px 20px;
    border-radius: 100px;
    padding-left: 25px;
    display: inline-block;
    position: relative;
  }

  h2 {
    width: 629px;
    font-weight: 400;
    @include breakpoint(max-lg) {
      width: 452px;
    }
  }
}

.section-padding {
  padding: 120px 0;

  @include breakpoint(max-xl) {
    padding: 100px 0;
  }

  @include breakpoint(max-lg) {
    padding: 80px 0;
  }
}
