@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap");

$heading-font: "IBM Plex Sans", sans-serif;
$body-font: "IBM Plex Sans", sans-serif;

body {
  font-family: $body-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $text-color;
  background-color: $white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  outline: none !important;
  cursor: pointer;
  font-weight: 300;
  color: $header-color;
  @include transition;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  margin: 0px;
  padding: 0;
  color: $header-color;
  @include transition;
  // text-transform: capitalize;
}
