@use "_variables.scss" as *;
@use "_mixins.scss" as *;

body {
  padding: 0;
  margin: 0;
}

.header-top-section {
  background-color: $bg-color;

  .container-fluid {
    padding: 0 120px;

    @include breakpoint(max-xxxl) {
      padding: 0 50px;
    }

    @include breakpoint(max-xxl) {
      display: none;
    }
  }
}

.header-top-wrapper {
  @include flex;
  justify-content: space-between;

  .icon-items {
    @include flex;
    gap: 10px;
    border-right: 1px solid #d9d9d9;
    padding-right: 135px;
    height: 90px;

    @include breakpoint(max-xxl) {
      border-right: none;
      padding-right: 0;
      height: initial;
    }

    .icon {
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border: 1px solid $theme-color-2;
      color: $theme-color-2;
      border-radius: 100%;
      @include transition;

      &:hover {
        color: $theme-color-2;
        background-color: $theme-color;
        border: 1px solid $theme-color;
      }
    }
  }

  .social-icon {
    @include flex;
    gap: 20px;

    a {
      font-size: 20px;
      color: $theme-color-2;
      border: 1px solid $theme-color-2;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      display: inline-block;
      border-radius: 100px;

      &:hover {
        color: $theme-color-2;
        background-color: $theme-color;
        border: 1px solid $theme-color;
      }
    }
  }
}
