@use "_variables.scss" as *;
@use "_mixins.scss" as *;

.hero-1 {
  position: relative;
  padding: 180px 0;

  @include breakpoint(max-xxl) {
    padding: 100px 0;
  }

  @include breakpoint(max-lg) {
    padding: 80px 0;
  }

  &::before {
    @include before;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    );
    z-index: 999;
  }

  .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transform: scale(1);
    -webkit-transition: all 8s ease-out 0s;
    -moz-transition: all 8s ease-out 0s;
    -ms-transition: all 8s ease-out 0s;
    -o-transition: all 8s ease-out 0s;
    transition: all 8s ease-out 0s;
    z-index: 9;
  }

  .shape {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9999;

    @include breakpoint(max-xl) {
      display: none;
    }
  }

  .hero-content {
    position: relative;
    z-index: 999;
    text-align: center;

    @include breakpoint(max-md) {
      text-align: center;
    }

    h6 {
      color: $theme-color;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    h1 {
      color: $white;
      margin-bottom: 15px;
    }

    p {
      max-width: 722px;
      color: $white;
      margin: 0 auto;
    }

    .hero-button {
      @include flex;
      margin-top: 40px;
      gap: 40px;
      justify-content: center;

      @include breakpoint(max-xl) {
        margin-top: 30px;
        flex-wrap: wrap;
        gap: 30px;
      }

      @include breakpoint(max-md) {
        justify-content: center;
      }

      .theme-btn {
        &.border-btn {
          background-color: transparent;
          border: 1px solid $white;

          &:hover {
            border: 1px solid $theme-color;
          }
        }
      }
    }
  }
}

.hero-section-1 {
  position: relative;

  .swiper-slide.swiper-slide-active {
    .hero-bg {
      -webkit-transform: scale(1.19);
      -moz-transform: scale(1.19);
      transform: scale(1.19);
    }
  }

  .arrow-button {
    @include breakpoint(max-xl) {
      display: none;
    }

    .array-prev {
      position: absolute;
      left: 3%;
      top: 50%;
      transform: translateY(-50%);
      background-color: $theme-color-2;
      width: 60px;
      height: 60px;
      border-radius: 100px;
      line-height: 60px;
      color: $theme-color;
      font-size: 18px;
      z-index: 9;
      @include transition;

      &:hover {
        color: $theme-color-2;
        background-color: $theme-color;
      }
    }

    .array-next {
      position: absolute;
      right: 2%;
      top: 50%;
      transform: translateY(-50%);
      color: $white;
      font-size: 18px;
      z-index: 999;
      @include transition;
      background-color: $theme-color-2;
      width: 60px;
      height: 60px;
      border-radius: 100px;
      line-height: 60px;

      &:hover {
        color: $theme-color-2;
        background-color: $theme-color;
      }
    }
  }
}
