@use "_variables.scss" as *;
@use "_mixins.scss" as *;
@use "_typography.scss" as *;

.hero-2 {
  padding: 225px 120px;
  position: relative;
  z-index: 9;

  @include breakpoint(max-xxl) {
    padding: 100px 0;
  }

  @include breakpoint(max-lg) {
    padding: 80px 0;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to left,
      rgba(31, 79, 216, 0.35) 36%,
      rgb(4 13 35) 101%
    );
    z-index: -1;
  }

  .left-shape {
    position: absolute;
    left: 0;
    top: 0;

    @include breakpoint(max-xxl) {
      display: none;
    }
  }

  .right-shape {
    position: absolute;
    right: 0;
    bottom: 0;

    @include breakpoint(max-xxl) {
      display: none;
    }
  }

  .left-shape-2 {
    position: absolute;
    left: 100px;
    bottom: 290px;
    z-index: -1;

    @include breakpoint(max-xxxl) {
      display: none;
    }
  }

  .hero-content {
    h1 {
      color: $white;
      max-width: 917px;

      font-size: 87px;

      @include breakpoint(max-xxxl) {
        font-size: 77px;
      }

      @include breakpoint(max-xxl) {
        font-size: 60px;
      }

      @include breakpoint(max-xl) {
        font-size: 55px;
      }

      @include breakpoint(max-lg) {
        font-size: 32px;
        max-width: 500px;
      }

      @include breakpoint(max-sm) {
        font-size: 35px;
      }
    }

    p {
      max-width: 917px;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 300;
      color: $white;
      margin-top: 44px;

      @include breakpoint(max-lg) {
        font-size: 16px;
        max-width: 500px;
      }
    }
    .hero-button-item {
      margin-top: 50px;
      @include flex;
      gap: 50px;

      @include breakpoint(max-xxl) {
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 30px;
      }

      .theme-btn {
        background-color: $theme-color;

        &::before {
          background-color: $header-color;
        }

        &:hover {
          color: $white;
        }
      }

      .button-text {
        @include flex;

        .video-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $white;
          color: $white;
          display: inline-block;
          font-size: 16px;
          height: 70px;
          width: 70px;
          line-height: 60px;
          border-radius: 100px;
          text-align: center;
        }

        span {
          font-size: 14px;
          color: $white;
          font-family: $heading-font;
          font-weight: 400;
        }
      }
    }
  }
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
.fix {
  overflow: hidden;
}
