:root {
  // --body: #fff;
  // --black: #000;
  // --white: #fff;
  // --theme: #ffc107;
  // --theme-2: #0b4e3d;
  // --header: #122f2a;
  // --text: #667471;
  // --text-2: #0b4e3d;
  // --border: #c9c9c9;
  // --bg: #f8f3e7;
  // --bg-2: #122f2a;
  // --box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.13);

  --body: #fff;
  --black: #091841;
  --white: #fff;
  --theme: #1f4fd8;
  --theme-2: #d2dcf7;
  --header: #122f2a;
  --text: #091841;
  --text-2: #0b4e3d;
  --border: #c9c9c9;
  --bg: #f9fafb;
  --bg-2: #e5e7eb;
  --box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.13);
}

// Theme Color - Defualt Colors
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$theme-color-2: var(--theme-2);
$text-color: var(--text);
$text-color-2: var(--text-2);
$header-color: var(--header);
$border-color: var(--border);
$bg-color: var(--bg);
$bg-color-2: var(--bg-2);
$shadow: var(--pp-box-shadow);
