@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.theme-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  outline: none !important;
  background-color: $theme-color;
  color: $white;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 14px 30px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  overflow: hidden;
  border-radius: 4px;
  z-index: 1;
  //   font-family: Nunito;

  //   i {
  //     margin-left: 8px;
  //     transform: rotate(-45deg);
  //     @include transition;
  //   }

  &::before {
    position: absolute;
    content: "";
    background-color: $theme-color;
    width: 100%;
    height: 0%;
    left: 50%;
    top: 50%;
    border-radius: 33px;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: -1;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  &:hover {
    color: $white;
    background-color: transparent;

    // i {
    //   transform: rotate(0);
    // }

    &::before {
      height: 380%;
    }
  }
}

.link-btn {
  font-weight: 600;
  font-size: 16px;
  color: $theme-color-2;
  text-transform: capitalize;
  font-family: DM Serif Tex;

  i {
    margin-left: 8px;
    transform: rotate(-45deg);
    @include transition;
  }

  &:hover {
    color: $theme-color;

    i {
      transform: rotate(0deg);
    }
  }
}
