@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer-section {
  background-color: $theme-color;

  .footer-wrapper {
    padding: 50px 0;

    .footer-left-content {
      padding-left: 20px;

      p {
        color: $white;
        margin-top: 1rem;
        font-weight: 300;
      }
      .socials {
        img {
          margin-right: 1rem;
        }
      }
    }

    .footer-right-content {
      @include flex;
      align-items: flex-start;
      justify-content: space-evenly;
      flex-direction: column;

      @include breakpoint(lg) {
        flex-direction: row;
      }
      .wid-title {
        margin-bottom: 2rem;

        @include breakpoint(max-lg) {
          margin-top: 2rem;
        }

        h3 {
          color: $white;
          font-weight: 400;
          font-size: 20px;
        }
      }
    }

    .list-area {
      li {
        @include transition;
        font-weight: 300;
        font-size: 14px;

        &:not(:last-child) {
          margin-bottom: 16px;
        }

        a {
          color: $white;
        }

        &:hover {
          margin-left: 5px;
        }
      }
    }
  }
}
